@model IList<WestCoastEducation.web.ViewModels.CourseListViewModel>

@{
    ViewBag.Pagetitle = "Courses";
}

<section>
    <div>
        <h1>Kurslista</h1>
        <p>Här skulle det kunna ligga en lista av alla kurser med länkar till mer info
            istället för en tabell.<br>
            Men när det inte finns något mer kopplat till kurserna än den info som är nu,
            så verkar det onödigt.
        </p>
        <ul>
            @foreach (var course in Model)
            {
                <li><a asp-action="details" asp-route-courseId="@course.CourseId">
                        @course.CourseName
                    </a></li>
            }
        </ul>
    </div>
</section>
