@model IList<WestCoastEducation.web.Models.Course>

@{
    ViewBag.Pagetitle = "Courses";
}

<div>
    <h1>Kurslista</h1>
    <p>Här kan det ligga en lista över alla kurser.<br>
        Just nu ligger det bara en placeholder lista med länkar så länge.
    </p>
    <ul>
        @foreach (var course in Model)
        {
            <a asp-action="details" asp-route-courseName="@course.CourseName">
                <li>@course.CourseName</li>
            </a>
        }
    </ul>
</div>
