@{
    ViewBag.Pagetitle = "Home";
}

<div>
    <h1>Välkommen till West Coast Education</h1>
    <p>
        Layouten kommer att snyggas till ytterligare vid senare tillfälle.<br>
        All fokus har legat på navbaren ovan, samt att få länkarna ordentliga.<br>
    </p>
</div>
