@{
    ViewBag.Pagetitle = "Home";
}

<section>
    <div>
        <h1>Välkommen till West Coast Education</h1>
        <p>Layouten kommer att snyggas till ytterligare vid senare tillfälle.</p>
    </div>
</section>
