<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/styles-admin.css">
    <link rel="stylesheet" href="~/css/banner-menu.css">
    <link rel="stylesheet" href="~/css/table.css">
    <link rel="stylesheet" href="~/css/form.css">
    <link rel="stylesheet" href="~/css/utility.css">
    <script src="https://kit.fontawesome.com/1e64290bfc.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Pagetitle - WestCoastEducation</title>
</head>

<body>

    <header>
        <nav class="banner-menu">
            <div class="banner-menu-links">
                <div>
                    <a asp-action="Index" asp-controller="Home">Hem</a>
                </div>
                <div>
                    <a asp-action="Index" asp-controller="Admin">Admin</a>
                </div>
                <div>
                    <a asp-action="Index" asp-controller="CourseAdmin">Kurser</a>
                </div>
                <div>
                    <a asp-action="Index" asp-controller="UsersAdmin">Användare</a>
                </div>
            </div>
            <div class="banner-site-name">
                <p>West Coast Education</p>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

</body>

</html>
