<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewData["Title"] - WestCoastEducation</title>
</head>

<body>

    <nav class="banner-menu">
        <div class="banner-menu-links">
            <div><a href="../home">Home</a></div>
            <div><a href="../courses">Courses</a></div>
        </div>
        <div class="site-name">
            <p>West Coast Education</p>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

</body>

</html>
