@model WestCoastEducation.web.ViewModels.UserUpdateViewModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Pagetitle = "Admin-panel";
}
<section>
    <h1 class="table-h1">Ändra Användare</h1>
    <form asp-action="edit" asp-controller="UsersAdmin" asp-route-userId=@Model.UserId method="post">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName">
            <span class="error" asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span class="error" asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span class="error" asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span class="error" asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Phone"></label>
            <input asp-for="Phone">
            <span class="error" asp-validation-for="Phone"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span class="error" asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="TypeOfUser"></label>
            <input asp-for="TypeOfUser">
            <span class="error" asp-validation-for="TypeOfUser"></span>
        </div>
        <div>
            <div class="buttons">
                <button type="submit" class="btn-form">Spara</button>
                <a asp-action="index" asp-controller="UsersAdmin" class="btn-form">Avbryt</a>
            </div>
        </div>
    </form>
</section>
