@model WestCoastEducation.web.ViewModels.CoursePostViewModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Pagetitle = "Admin-panel";
}
<section class="page">
    <h1 class="table-h1">Lägg till kurser</h1>
    <form class="" asp-action="create" asp-controller="CourseAdmin" method="post">
        <div class="form-control">
            <label>Kursnamn</label>
            <input asp-for="CourseName">
            <span class="error" asp-validation-for="CourseName"></span>
        </div>
        <div class="form-control">
            <label>Kursnumer</label>
            <input asp-for="CourseNumber">
            <span class="error" asp-validation-for="CourseNumber"></span>
        </div>
        <div class="form-control">
            <label>Kurstitel</label>
            <input asp-for="CourseTitle">
            <span class="error" asp-validation-for="CourseTitle"></span>
        </div>
        <div class="form-control">
            <label>Kursstart</label>
            <input asp-for="CourseStart">
            <span class="error" asp-validation-for="CourseStart"></span>
        </div>
        <div class="form-control">
            <label>Kurslängd</label>
            <input asp-for="CourseLenght">
            <span class="error" asp-validation-for="CourseLenght"></span>
        </div>
        <div class="form-control">
            <div class="buttons-container">
                <button type="submit" class="btn-form">Spara</button>
                <a asp-action="index" asp-controller="CourseAdmin" class="btn-form">Avbryt</a>
            </div>
        </div>
    </form>
</section>
