form {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 500px;
  background: whitesmoke;
  border-radius: 10px;
}
input {    
  padding: 10px 10px;  
  text-indent: 10px;
  width: 95%;
  border: 1px solid lightgray;  
  outline: none;  
}
.form-spacing
{
  margin-bottom: 10px;
}
.register-account{
  
}


