body {
  margin: 0%;
  background-color: silver;
}
main { 
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;  
}
ul{
  display: inline-block;
  text-align: left;
  margin: 0%;
}
a 
{
  color: black;  
  text-decoration: none;
}